* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: rgb(232, 232, 238);
}

.focus-Bg  {
  background-color: rgb(167, 24, 24);
}

.shortBreak-Bg {
  background-color: rgb(127, 125, 123);
}

.longBreak-Bg {
  background-color: rgb(46, 46, 46);
}

.timer-container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.background-image {
  width: 512px;
  height: 512px;
  background-image: url(../public/icons/tomatoIconFill.png);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.8));
}

@media (max-width: 500px) {
  .background-image {
    background-size: 70%;
  }
}

.all-controls-container {
  top: 35%;
  position: relative;
  z-index: 1;
}

.mode-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.mode-button-container button {
  cursor: pointer;
  padding:  .5rem .5rem .5rem .5rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 2rem;
  border-radius: 5px;
  margin: 0rem .25rem 0rem .25rem;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1rem;
}

.time-controls {
  display: flex;
  justify-content: center;
  text-align: center;
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.btn {
  cursor: pointer;
  padding:  .5rem .5rem .5rem .5rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 2rem;
  border-radius: 5px;
  width: 7.2rem;
  margin: 1rem;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
