* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {

  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: rgb(134, 12, 12);
  line-height: 1.7;
  color: rgb(232, 232, 238);

}

.timer-container {
  overflow: hidden;
  margin-top: 8rem;
  height:52rem;
  background-image: url(../public/icons/tomatoIconFill.png);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.8));
  /* border-radius: 5px; */
  /* border: 2px solid rgb(42, 42, 42); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: center;
  top: 4rem;
  left: 4rem; */
  text-align: center;
}

.mode-button-container {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.mode-button-container button {
  cursor: pointer;
  padding:  .5rem .5rem .5rem .5rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 2rem;
  border-radius: 5px;
  margin: 0rem .25rem 0rem .25rem;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1rem;
}

.time-controls {
  display: flex;
  justify-content: center;
  /* top: 40%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.active {
  /* background-color: rgb(38, 91, 189); */
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.btn {
  border-radius: 10rem;
  margin: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.btn:hover {
  background-color: rgb(34, 33, 33);
  color: #fff;
  cursor: pointer;
}
